POSTGRES_DB=chatpoc
POSTGRES_USER=chatuser
POSTGRES_PASSWORD=chatpassword

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/chatpoc
SPRING_DATASOURCE_USERNAME=chatuser
SPRING_DATASOURCE_PASSWORD=chatpassword

BACKEND_PORT=8080
FRONTEND_PORT=4200
POSTGRES_PORT=5432

DEMO_CLIENT_USERNAME=client1
DEMO_CLIENT_PASSWORD=Client123#
DEMO_AGENT_USERNAME=agent1
DEMO_AGENT_PASSWORD=Agent123#